<div class="col-xs-12 info-section">
    <h2>Alerts <small>{{user}}</small></h2>
</div>

<div class="appointment-alerts">

    <div class="col-xs-12">
        <div class="appointment-alerts spacer">
            <p><strong>Appointments requiring action:</strong></p>
        </div>
    </div>
    <div class="col-xs-12 spacer" *ngIf="!alerts.pendingAlerts">
        <ul>
            <li>There are no appointments requiring action</li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-4 spacer" *ngFor="let pending of alerts.pendingAlerts">
        <div class="appointment-alert-box appointment-pending-action">
            <div>
                <span class="appointment-alert-title">Client:</span>
                <span class="appointment-alert-value"><strong>{{pending.client.surname}}, {{pending.client.forename}}</strong></span>
            </div>
            <div>
                <span class="appointment-alert-title">When:</span>
                <span class="appointment-alert-value"><strong>{{pending.fromDate | emDate}}</strong></span>
            </div>
            <div class="spacer">
                <span class="appointment-alert-title">Where:</span>
                <span class="appointment-alert-value"><strong>{{pending.location | emAddress}}</strong></span>
            </div>
            <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Appointment completed - chargeable
            </label>
            </div>
            <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Appointment incomplete - specify
            </label>
            </div>
            <button (click)="complete(pending)" class="btn btn-danger btn-small">Complete</button>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="appointment-alerts spacer">
            <p><strong>Upcoming appointments:</strong></p>
        </div>
    </div>
    <div class="col-xs-12 spacer" *ngIf="!alerts.futureAlerts">
        <ul>
            <li>There are no upcoming appointments</li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-4 spacer" *ngFor="let future of alerts.futureAlerts">
        <div class="appointment-alert-box appointment-future">
            <div>
                <span class="appointment-alert-title">Client:</span>
                <span class="appointment-alert-value"><strong>{{future.client.surname}}, {{future.client.forename}}</strong></span>
            </div>
            <div>
                <span class="appointment-alert-title">When:</span>
                <span class="appointment-alert-value"><strong>{{future.fromDate | emDate}}</strong></span>
            </div>
            <div class="spacer">
                <span class="appointment-alert-title">Where:</span>
                <span class="appointment-alert-value"><strong>{{future.location | emAddress}}</strong></span>
            </div>
        </div>
    </div>

</div>