<div class="col-xs-12 info-section">
    <h2>Alerts <small>{{user}}</small></h2>
</div>

<div class="col-xs-12 appointment-alerts">

    <div class="row">
        <div class="appointment-alerts col-xs-12">
            <p>Appointments requiring action:</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4" *ngIf="!alerts.pendingAlerts">There are no appointments requiring action</div>

    <div *ngFor="let pending of alerts.pendingAlerts bg-danger">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <span class="appointment-alert-title">Client:</span>
                    <span class="appointment-alert-value"><strong>{{pending.client.surname}}, {{pending.client.forename}}</strong></span>
                </div>
                <div>
                    <span class="appointment-alert-title">When:</span>
                    <span class="appointment-alert-value"><strong>{{pending.fromDate | emDate}}</strong></span>
                </div>
                <div class="spacer">
                    <span class="appointment-alert-title">Where:</span>
                    <span class="appointment-alert-value"><strong>{{pending.location | emAddress}}</strong></span>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-xs-4 col-sm-3">
            <select name="" id="" class="form-control input-sm"></select>
           </div>
        </div>
    </div>

</div>