<div class="col-xs-12">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Telephone</th>
                        <th>Hours</th>
                        <th>Days</th>
                        <th>Preferences</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clientList, let i = index">
                        <td>
                            <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <i *ngIf="!displaySupportWorkers" class="fa fa-binoculars" aria-hidden="true" (click)="toggle(client, i)"></i>
                            <i *ngIf="displaySupportWorkers" class="fa fa-times-circle" aria-hidden="true" (click)="toggle(client, i)"></i>
                            <div *ngIf="displaySupportWorkers && indexed === i">
                                <em-pop-over>
                                    <ul class="list-unstyled">
                                        <p><strong>Assigned Support Workers</strong></p>
                                        <li *ngFor="let staff of client.staff">
                                            {{staff.surname}}, {{staff.forename}}
                                        </li>
                                    </ul>
                                </em-pop-over>
                            </div>
                        </td>
                        <td>{{client.id}}</td>
                        <td>{{client.surname}}, {{client.forename}}</td>
                        <td>{{client.address.town}}, {{client.address.postCode}}</td>
                        <td>{{client.telephoneNumber}}</td>
                        <td>TODO</td>
                        <td>TODO</td>
                        <td>TODO</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>