@white: #FFFFFF;
@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee
@brand-primary: darken(#428bca, 6.5%); // #337ab7
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;
@brand-success-text: #468847;
@brand-success-border: #d6e9c6;

@import 'custom/mixins.less';
@import 'custom/header.component.less';
@import 'custom/main.component.less';
@import 'custom/calendar.component.less';
@import 'custom/badge.component.less';
@import 'custom/modal.component.less';
@import 'custom/support.component.less';
@import 'custom/pop-over.component.less';
@import 'custom/availability.component.less';
@import 'custom/footer.component.less';

// for the footer
html, body {
  height: 100%;
}

// utilities
#wrap {
  min-height: 100%;
}

.spacer {
    margin-bottom: 10px;
}