@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee

@brand-primary: darken(#428bca, 6.5%); // #337ab7
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#header {
    .navbar-brand {
        cursor: pointer;
    }
    .active {
        background: rgb(54, 54, 54, 0.5);
    }
}

#main {

    i { cursor: pointer; }
    textarea { resize: none; }
    padding-bottom:150px;
    margin-bottom: 20px;

    // the main form buttons
    .em-form-submit-buttons {
        border-top: 1px solid @gray-lighter;
        margin: 10px;
        padding: 10px;
    }

    .em-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:rgba(33, 33, 33, 0.7);
        z-index: 2;
    }

    .availability-component {
        background: #FFFFFF;
        position: fixed;
        top: 20%;
        left: 10%;
        width: 80%;
        z-index: 3;
        border: 1px solid @gray-darker;
        border-radius: 4px;
        padding: 20px;
    }

    .em-support {
        .staff-added {
            border: 1px solid #d6e9c6;
            border-radius: 4px;
            color: #468847;
            .message-dialog {
                padding: 4px;

            }
        }
    }

    .em-pop-over {
        position: absolute;
        z-index: 10;
        padding: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */
    }

    .em-pop-over-hide {
        display: none;
    }

    .em-validation {
        position: fixed;
        width: 25%;
        z-index: 10;
        bottom: 50%;
        top: 50%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */
        color: #FA2121;
        border: 1px #FA2121 solid;
        padding: 40px;
        text-align: center;

        ul {
            text-align: center;
            list-style-type: none;
        }
    }
}

#footer {
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear:both;
    padding-top:20px;
    background: @gray-lighter;
    color: @gray;
    font-size: 12px;
    text-align: center;
    .social {
        font-size: 20px;
        i {
            cursor: pointer;
            &:hover {
                color: @gray-light;
            }
        }
    }
}

.spacer {
    margin-bottom: 10px;
}