@c1: #EE9494;
@c2: #EBFFAF;
@c3: #B4E8C0;
@c4: #C3B9EA;
@c5: #D72323;

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#header {
    .navbar-brand {
        cursor: pointer;
    }
    .active { background: rgb(54, 54, 54, 0.5); }
}

#main {

    i { cursor: pointer; }
    textarea { resize: none; }
    // overflow:auto;
    padding-bottom:150px;
    margin-bottom: 10px;
}

.spacer {
    margin-bottom: 10px;
}