<div class="em-calendar">
  <div class="em-calendar-header">
    <div class="col-xs-4">
      <i class="fa fa-arrow-circle-left" aria-hidden="true" (click)="previous()"></i>
    </div>
    <div class="col-xs-4">
      <select class="form-control" [(ngModel)]="selectedYear" (ngModelChange)="selectYearChange($event)">
      <option *ngFor="let year of selectYear">{{year}}</option>
    </select>
    </div>
    <div class="col-xs-4">
      <i class="fa fa-arrow-circle-right pull-right" aria-hidden="true" (click)="next()"></i>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="em-calendar-body">
      <table>
        <thead>
          <tr>
            <td>S</td>
            <td>M</td>
            <td>T</td>
            <td>W</td>
            <td>T</td>
            <td>F</td>
            <td>S</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let snapshot of snapshotRow1" (click)="selectDate(snapshot)" [ngClass]="{'em-cal-day-disabled': snapshot.class}">{{snapshot.date | paddedDate}}</td>
          </tr>
          <tr>
            <td *ngFor="let snapshot of snapshotRow2" (click)="selectDate(snapshot)" [ngClass]="{'em-cal-day-disabled': snapshot.class}">{{snapshot.date | paddedDate}}</td>
          </tr>
          <tr>
            <td *ngFor="let snapshot of snapshotRow3" (click)="selectDate(snapshot)" [ngClass]="{'em-cal-day-disabled': snapshot.class}">{{snapshot.date | paddedDate}}</td>
          </tr>
          <tr>
            <td *ngFor="let snapshot of snapshotRow4" (click)="selectDate(snapshot)" [ngClass]="{'em-cal-day-disabled': snapshot.class}">{{snapshot.date | paddedDate}}</td>
          </tr>
          <tr>
            <td *ngFor="let snapshot of snapshotRow5" (click)="selectDate(snapshot)" [ngClass]="{'em-cal-day-disabled': snapshot.class}">{{snapshot.date | paddedDate}}</td>
          </tr>
          <tr>
            <td *ngFor="let snapshot of snapshotRow6" (click)="selectDate(snapshot)" [ngClass]="{'em-cal-day-disabled': snapshot.class}">{{snapshot.date | paddedDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="em-calendar-footer text-center">
        {{displayMonth}}
    </div>
  </div>
</div>