<div *ngIf="errors">
    <em-validation [error]="errors"></em-validation>
</div>

<!-- Header -->
<div class="col-xs-12 info-section">
    <h2>Client <small>Add</small></h2>
</div>

<!-- form contents -->
<div class="col-xs-12 col-sm-6">
    <em-person [person]="client"></em-person>
</div>
<div class="col-xs-12 col-sm-6">
    <em-address [person]="client"></em-address>
    <em-support [client]="client"></em-support>
</div>

<!-- Buttons -->
<div class="col-xs-12">
    <button type="button" class="btn btn-success" (click)="addClient(client)">Create</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
</div>
