#header {
    .navbar-brand {
        cursor: pointer;
    }

    li {
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }

    .alerts-item {
        display: inline-block;
        .hasAlerts {
            background: red;
            display: inline-block;
            width: 24px;
            height: 20px;
            border-radius: 8px;
            padding: 0px 8px;
            margin-left: 4px;
            color: white;
            font-size: 10px;
        }
    }
}