<div class="em-calendar">
  <div class="years">
    <select>
      <option *ngFor="let month of months">{{month}}</option>
    </select>
    <select>
      <option>2016</option>
      <option>2017</option>
      <option>2018</option>
      <option>2019</option>
    </select>
  </div>
  <table>
    <thead>
      <tr>
        <td>Sun</td>
        <td>Mon</td>
        <td>Tues</td>
        <td>Weds</td>
        <td>Thur</td>
        <td>Fri</td>
        <td>Sat</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>