<div class="em-calendar">
  <div class="years">
    <select [(ngModel)]="selectedMonth" (ngModelChange)="selectMonth()">
      <option *ngFor="let month of months" [value]="month">{{month}}</option>
    </select>
    <select>
      <option>2016</option>
    </select>
  </div>
  <table>
    <thead>
      <tr>
        <td>S</td>
        <td>M</td>
        <td>T</td>
        <td>W</td>
        <td>T</td>
        <td>F</td>
        <td>S</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let row of row1">{{row}}</td>
      </tr>
      <tr>
        <td *ngFor="let row of row2">{{row}}</td>
      </tr>
      <tr>
        <td *ngFor="let row of row3">{{row}}</td>
      </tr>
      <tr>
        <td *ngFor="let row of row4">{{row}}</td>
      </tr>
      <tr>
        <td *ngFor="let row of row5">{{row}}</td>
      </tr>
    </tbody>
  </table>
</div>