<div class="form-group">
    <label for="days">Days</label>
    <input type="text" id="days" class="form-control" placeholder="Days">
</div>
<div class="form-group">
    <label for="hours">Hours</label>
    <input type="text" id="hours" class="form-control" placeholder="Hours">
</div>
<div class="form-group">
    <label for="select">Contract type</label>
    <select name="select" id="select" class="form-control">
        <option value="value1">Select</option>
        <option value="value2">Contract</option>
        <option value="value3">Bank</option>
    </select>
</div>