<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand" [routerLink]="['/']">FTF</div>
            <p class="navbar-text">Signed in as Emily Boyle</p>
            <button type="button" class="navbar-toggle collapsed" aria-expanded="false" (click)=toggle()>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse" [ngClass]="{collapse: isCollapsed}">
            <ul class="nav navbar-nav">
                <em-navbar-item-header class="item-header" [heading]="'Staff'">
                    <em-navbar-item [title]="'Staff List'" [emRoute]="['/staff']"></em-navbar-item>
                    <em-navbar-item [title]="'Add/Edit Staff'" [emRoute]="['/add-staff']"></em-navbar-item>
                </em-navbar-item-header>

                <em-navbar-item-header class="item-header" [heading]="'Client'">
                    <em-navbar-item [title]="'Client List'" [emRoute]="['/client']"></em-navbar-item>
                </em-navbar-item-header>
            </ul>
        </div>

    </div>
</nav>