<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand" [routerLink]="['/']">FTF</div>
            <p class="navbar-text">Signed in as Emily Boyle</p>
            <button type="button" class="navbar-toggle collapsed" aria-expanded="false" (click)="toggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" [ngClass]="{collapse: collapse}">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/staff']" routerLinkActive="active">Staff</a></li>
                <li><a [routerLink]="['/client']" routerLinkActive="active">Client</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Alerts <i class="fa fa-bell" aria-hidden="false"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

