<div class="col-xs-12 info-section">
    <h2>Appointment <small>Create</small></h2>
</div>

<div *ngIf="hasErrors.length > 0" class="col-xs-12 col-sm-6">
    <ul>
        <li *ngFor="let error of hasErrors">{{error}}</li>
    </ul>
</div>

<form *ngIf="active && hasErrors.length === 0" (ngSubmit)="create(appointment)" #apptForm="ngForm">
    <div class="col-xs-12 col-sm-6">
        <em-collapsible-content [title]="'Details'" [isCollapsed]="false">
            <div class="form-group">
                <label for="staff-select">Select staff:</label>
                <select name="staff-select" id="staff-select" class="form-control" [(ngModel)]="appointment.staff" required>Select Staff
                <option *ngFor="let active of activeStaff" [ngValue]="active">{{ active.surname }}, {{ active.forename }}</option>
            </select>
            </div>

            <div class="form-group">
                <label for="select-client">Select client:</label>
                <select name="select-client" id="select-client" class="form-control" [(ngModel)]="appointment.client" required>Select Client
                <option *ngFor="let active of activeClients" [ngValue]="active">{{ active.surname }}, {{ active.forename }}</option>
            </select>
            </div>

            <a class="btn btn-default spacer" (click)="addAvailability()">Add Time</a>
            <span *ngIf="dateValidationMsg">{{dateValidationMsg}}</span>

            <em-badge *ngIf="appointment.fromDate && appointment.toDate" (dismissBadge)="removeTime()">
                <div><strong>Appointment time:</strong></div>
                <div><strong>From:</strong> {{ appointment.fromDate | emDate }}</div>
                <div><strong>Until:</strong> {{ appointment.toDate | emDate }}</div>
            </em-badge>

            <div class="spacer"></div>

            <div *ngIf="showAvailabilityForm" class="em-modal">
                <em-availability (availabilityChange)="availabilityUpdated($event)" [custom]="true"></em-availability>
            </div>

            <div class="form-group">
                <label for="notes">Notes:</label>
                <textarea name="notes" id="notes" type="text" class="form-control" [(ngModel)]="appointment.notes" placeholder="Comments..."></textarea>
            </div>
        </em-collapsible-content>
    </div>

    <div class="col-xs-12 col-sm-6">
        <em-collapsible-content [title]="'Location'" [isCollapsed]="true">
            <em-address [address]="appointment.location"></em-address>
            <span (click)="useStaffAddress()" class="btn btn-default btn-sm">Use staff address</span>
            <span (click)="useClientAddress()" class="btn btn-default btn-sm">Use client address</span>
        </em-collapsible-content>
    </div>

    <div class="col-xs-12">
        <div class="em-form-submit-buttons">
            <button type="submit" class="btn btn-success" [disabled]="!apptForm.form.valid">Create</button>
            <button type="button" class="btn btn-default" (click)="clear()">Clear</button>
            <button type="button" class="btn btn-default" [routerLink]="['/appointment']">Cancel</button>
        </div>
    </div>

</form>