<!-- Header -->
<div class="col-xs-12 info-section">
    <h2>Client <small>Add</small></h2>
</div>

<!-- form contents -->
<form *ngIf="active" (ngSubmit)="addClient(client)" #clientForm="ngForm">
    <div class="col-xs-12 col-sm-4">
        <em-collapsible-content [title]="'Person'">
            <em-person [person]="client"></em-person>
        </em-collapsible-content>
    </div>
    <div class="col-xs-12 col-sm-4">
        <em-collapsible-content [title]="'Address'" [isCollapsed]="true">
            <em-address [person]="client"></em-address>
        </em-collapsible-content>
    </div>
    <div class="col-xs-12 col-sm-4">
        <em-collapsible-content [title]="'Support Details'" [isCollapsed]="true">
            <em-support [client]="client"></em-support>
        </em-collapsible-content>
    </div>

    <!-- Buttons -->
    <div class="col-xs-12">
        <div class="em-form-submit-buttons">
            <button type="submit" class="btn btn-success" [disabled]="!clientForm.form.valid">Create</button>
            <button type="button" class="btn btn-default" (click)="cancel()">Clear</button>
            <button type="button" class="btn btn-default" [routerLink]="['/client']">Cancel</button>
        </div>
    </div>
</form>