<div class="availability-component">
    <div class="form-group">
        <label for="datetime">Date and time</label>
        <input type="text" id="datetime" class="form-control" placeholder="22/03/2016 10:05" [(ngModel)]="availability.dateAndTime">
    </div>
    <div class="form-group">
        <label for="dayOfWeek">Day of week</label>
        <input type="text" id="dayOfWeek" class="form-control" placeholder="e.g. Monday" [(ngModel)]="availability.dayOfWeek">
    </div>
    <div class="form-group">
        <label for="hours">Number of hours</label>
        <input type="number" id="hours" class="form-control" placeholder="e.g. 0.5 or 3" [(ngModel)]="availability.numberOfHours">
    </div>
    <div class="col-xs-12">
        <div class="em-form-submit-buttons">
            <button type="button" class="btn btn-success" (click)="update(availability)">Update</button>
        </div>
    </div>
</div>