<div class="col-xs-12 staff-list">
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Telephone</th>
                    <th>Type</th>
                    <th>Days</th>
                    <th>Preferences</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let staff of staffList">
                    <td class="action-icons">
                        <span><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></span>
                        <span (click)="listClients(staff)"><i class="fa fa-binoculars fa-lg" aria-hidden="true"></i></span>
                    </td>
                    <td>{{staff.id}}</td>
                    <td>{{staff.surname}}, {{staff.forename}}</td>
                    <td>{{staff.address.town}}, {{staff.address.postCode}}</td>
                    <td>{{staff.telephoneNumber}}</td>
                    <td>{{staff.contractType}}</td>
                    <td>{{staff.generalAvailability | generalAvailability | arrayDelimiter | unspecified}}</td>
                    <td>{{staff.preferences | unspecified}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>