<div *ngIf="errors">
    <em-validation [error]="errors"></em-validation>
</div>

<!-- Header -->
<div class="col-xs-12 info-section">
    <h2>Staff <small>Add</small></h2>
</div>

<!-- form contents -->
<div class="col-xs-12 col-sm-3">
    <em-person [person]="staff"></em-person>
</div>
<div class="col-xs-12 col-sm-3">
    <em-address [person]="staff"></em-address>
    <div class="form-group">
        <label for="contract-type">Contract Type</label>
        <select id="contract-type" class="form-control" required>
            <option *ngFor="let contractType of contractTypes" [value]="staff.contractType">{{contractType}}</option>
        </select>
    </div>
</div>

<!-- Buttons -->
<div class="col-xs-12">
    <button type="button" class="btn btn-success" (click)="addStaff(staff)">Create</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
</div>
