<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <i class="fa fa-registered" aria-hidden="true"></i> Frances Taylor Foundation - Operating on behalf of 'The Poor Servants of the Mother of God'
            </div>
        </div>
        <div class="spacer"></div>
        <div class="row">
            <div class="col-xs-12">
                Developer: Geoff Perks {{today}}. Maintained by Geoff Perks and the <strong>core team</strong>
            </div>
        </div>
        <div class="row social">
            <div class="col-xs-12">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                <i class="fa fa-github" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                Frances Taylor Foundation Rota <i class="fa fa-copyright" aria-hidden="true"></i> License under: MIT
            </div>
        </div>
    </div>
</div>